.button-up {
	position: fixed;
	right: 20px;
	bottom: 35px;
	z-index: 99;
	border: solid 1px #d2233c;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 14px;
	color: #282a33;
	opacity: 1;
	pointer-events: none;
	transition: all 0.3s;

	&:hover {
		background-color: $color-hover;

		.button-up__arrow {
			&::after {
				border-bottom-color: $color-white;
			}
		}
	}

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	&__percent {
	}

	&__arrow {
		display: none;
		width: 20px;
		height: 26px;
		align-items: center;
		justify-content: center;

		&::after {
			content: "";
			position: relative;
			border-top: solid 0px transparent;
			border-bottom: solid 10px $color-dark;
			border-left: solid 5px transparent;
			border-right: solid 5px transparent;
			transition: border 0.3s;
		}
	}

	&.finish {
		cursor: pointer;
		pointer-events: inherit;
		color: $color-white;

		.button-up__arrow {
			display: flex;
		}

		.button-up__percent {
			display: none;
		}
	}
}
