section.about
	.about__experience
		h2.caption.caption--middle.about__caption Опыт работы
		.about__content
			include ../components/experience
	.about__man
		span.sprite-man
	.about__education
		h2.caption.caption--middle.about__caption Образование
		.about__content
			include ../components/education