.education
	.education__item
		.education__rectangle
			+rectangle(true, GD,INERFACE,FUNDS)
		h2.caption.caption--small.education__caption Interface Design:<br/> Web &#38; Mobile
		p.textSimple.education__text IT-Academy, 2020
	.education__item
		.education__rectangle
			+rectangle(true, FUNDS)
		h2.caption.caption--small.education__caption Fundamentals<br/> of Usability
		p.textSimple.education__text Skillshare, Oct 2018
	.education__item
		.education__rectangle
			+rectangle(true, CG)
		h2.caption.caption--small.education__caption CG Artist
		p.textSimple.education__text Polygon CG School, May-Sep 2017
	.education__item
		.education__rectangle
			+rectangle(true, GD)
		h2.caption.caption--small.education__caption Graphic Design
		p.textSimple.education__text Belarusian State Academy of Arts, 2015 - 2017 Postgraduate Diploma
	.education__item
		.education__rectangle
			+rectangle(true, SEO)
		h2.caption.caption--small.education__caption SEO Specialist
		p.textSimple.education__text ARTOX Media, Jun-Aug 2012
	.education__item
		.education__rectangle
			+rectangle(true, INFORMATION)
		h2.caption.caption--small.education__caption Information<br/> Technology Software
		p.textSimple.education__text Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 Bachelor’s degree
		p.textSimple.education__text Polotsk State Economic College, 2007 - 2011 Associate’s degree

