section.greetings
    .greetings__head
        span.sprite-head.greetings__picture
    .greetings__body
        h2.caption.greetings__caption.
            Александр, <br />
            Джедай
        .textSimple.greetings__text
            p. 
                Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь, что считаю очень полезным для бизнеса. 
                Я получаю огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках пользователя.
                Я считаю, что ориентированные на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.
    .greetings__info
        ul.greetings__links
            li 
                a(href="mailto:mail@gmail.com") mail@gmail.com  
            li 
                a(href="tel:+79990000000") +7 (999) 000-00-00
            li 
                | г. Иннополис  
        ul.social.greetings__social
            li 
                a(href="#" class="social__link") 
                    +svg('facebook')
            li 
                a(href="#" class="social__link") 
                    +svg('vk')
            li 
                a(href="#" class="social__link") 
                    +svg('telegram')    