header.header(data-scroll data-scroll-sticky data-scroll-target="main" data-scroll-repeat data-scroll-offset="-61" data-scroll-id="header")
	.container.header__container 
		nav.header__menu
			each object in data.header.menu
				a.header__link.js-to-anchor(
					href=object.url
				)
					!= object.name		
		button.header__burger.btn.js-burger(type="button")
			span
			span
			span
