extends pug/base

prepend vars
	-
		// константы для reactangle
		const INERFACE = 'interface';
		const FUNDS = 'funds';
		const CG = 'CG';
		const GD = 'GD';
		const SEO = 'SEO';
		const INFORMATION = 'information';

		// настройки анимации defaut
		const settingsAnimBlock = {'data-scroll':'data-scroll', 'data-scroll-repeat':'data-scroll-repeat', 'data-scroll-speed': '1'}
		const settingsAnimCaption = {'data-scroll':'data-scroll', 'data-scroll-repeat':'data-scroll-repeat', 'data-scroll-speed': '2'}

append vars


block content
	include pug/data

	include pug/components/preloader

	.site.smooth-scroll
		.site__wrapper(data-scroll data-scroll-container data-scroll-id="site")
			include pug/components/header

			include pug/pages/home

			include pug/components/footer

	//- include pug/components/analytics

	include pug/components/buttonUp
