$sprites: (
	"21vek": (
		normal: (
			x: 593,
			y: 502,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 1186,
			y: 1004,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
	"hands": (
		normal: (
			x: 0,
			y: 593,
			width: 512,
			height: 288,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 0,
			y: 1186,
			width: 1024,
			height: 576,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
	"head": (
		normal: (
			x: 514,
			y: 593,
			width: 150,
			height: 150,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 1028,
			y: 1186,
			width: 300,
			height: 300,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
	"integral": (
		normal: (
			x: 625,
			y: 502,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 1250,
			y: 1004,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
	"jcs": (
		normal: (
			x: 657,
			y: 502,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 1314,
			y: 1004,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
	"man": (
		normal: (
			x: 593,
			y: 0,
			width: 500,
			height: 500,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 1186,
			y: 0,
			width: 1000,
			height: 1000,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
	"oz": (
		normal: (
			x: 689,
			y: 502,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 1378,
			y: 1004,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
	"preloader": (
		normal: (
			x: 0,
			y: 0,
			width: 591,
			height: 591,
			image: "sprites.png",
			total_width: 1093,
			total_height: 881,
		),
		retina: (
			x: 0,
			y: 0,
			width: 1182,
			height: 1182,
			image: "sprites@2x.png",
			total_width: 2186,
			total_height: 1762,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
